* {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.rev-logo {
    height: 50px;
    width: 50px;
}

.jetty-logo {
    height: 50px;
    width: 100px;
    object-fit: contain;
}

.lil {
    width: max-content;
}

.restart {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    margin: 0;
}

.phone-logo {
    height: 30px;
    max-width: 30px;
}

.message-logo {
    height: 30px;
    max-width: 30px;
}

/* .container{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
} */
.c-row {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.main-text {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.last-txt {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.card {
    min-width: 33%;
    width: 100%;
    height: 400px;
}

.fetures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.focus-title {
    position: absolute;
    top: -10px;
}

.plans {
    display: flex;
    justify-content: center;
}

.mid {
    position: absolute;
    top: -1rem;
    right: 35%;
    margin: auto;
}

.line {
    height: 1px;
    width: 100%;
    background-color: rgb(151, 151, 151);
}

.text-secondary {
    width: 100%;
    margin: 0;
}

.texts {
    color: #6c757d;
}

.prices {
    font-weight: bold;
}

.price{
    width:fit-content;
    /* width: 100%; */
}