* {
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
#FirstPage{
    height: 100vh;
}

.rev-logo {
    height: 50px;
    width: 50px;
}

.jetty-logo {
    height: 50px;
    width: 100px;
    object-fit: contain;
}

.lil {
    width: max-content;
}

.restart {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    margin: 0;
}

.phone-logo {
    height: 30px;
    max-width: 30px;
}

.message-logo {
    height: 30px;
    max-width: 30px;
}

/* .container{
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
    margin: 1rem;
} */
.c-row {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
}

.main-text {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.last-txt {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.card {
    /* min-width: 33%; */
    height: 400px;
}

.fetures {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.focus-title {
    position: absolute;
    top: -10px;
}

.plans {
    display: flex;
    justify-content: center;
}

.mid {
    position: absolute;
    top: -1rem;
    right: 30%;
    margin: auto;
    
}

.line {
    height: 1px;
    width: 50%;
    background-color: rgb(151, 151, 151);
}

.text-secondary {
    width: 100%;
    margin: 0;
}

.texts {
    color: #6c757d;
}

.prices {
    font-weight: bold;
}

.price {
    width: fit-content;
    /* width: 100%; */
}

.letter-spacing {
    letter-spacing: 2px;
}

.money {
    font-size: 60px;
}

.adjust {
    font-size: 16px;
}



.money-page {
    max-width: fit-content;
}

.cards {
    height: fit-content;
    width: 25rem;
}

.line-1 {
    height: 1px;
    width: 100%;
    background-color: rgb(192, 192, 192);
}

.starts {
    background-color: white;
    border: black solid 2px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-right: 1rem;
}

.input-date {
    border: none;
}

.input-date:focus{
    outline: none;
}
.deduct{
    margin-left: 1rem;
width: 5rem;
    border: none;
}

.deduct:focus{
    outline: none;
}

.first{
    border: none;
    width: 17rem;
}

.second{
    border: none;
    width: 17rem;
}


.background{
    background-image: url("../public/bg-2.jpg");
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;

}

.left-part{
    margin-top: 80px;
    margin-left: 400px;
}

.right-part{
    /* height: fit-content; */
    margin-top: 80px;
    margin-right: 200px;
}

.inputt{
    margin-top: 50px;
}

.right-card{
    height: 90%;
}

.card-width{
    width: 25rem;
}

.to-center{
    width: fit-content;
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.showC{
    display: block !important;
}
.hideC{
    display: none !important;
}

@media screen and (max-width:600px)
 {
  .restart{
    display: none;
  }

  .rev-logo{
    width: 50%;
  }

  .container{
    display: flex;
    flex-direction: column;
    
  }

  .card-width{
    width: auto;
    margin-bottom: 2rem;
  }


  .background{
    
    background-image: none;
  }

  .for-resp{
    display: flex;
    flex-direction: column;
    
  }

  .inputt{
    display: flex;
    flex-direction: column;
  }

  .left-part{
    margin-left: 10px;
  }

  .right-part{
   margin: 0;
  }

  .right-card{
    display: flex;
    justify-content: center;
    margin: 0%;
  }

  .cards{
    display: flex;
    justify-content: center;
    max-width: 90%;
    justify-self:center;
  }
  
}