.rev-logo{
    height: 50px;
    width: 50px;
}

.main-logo{
    height: 50px;
    width: 100px;
}

.restart{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.phone-logo{
    height: 50px;
    width: 100px;
}
.message-logo{
    height: 100px;
    width: 100px;
}